<div class="d-flex flex-nowrap bg-dark text-white">
    <!-- Sidebar -->
    <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <i class="bi-pin-fill bi me-2" style="font-size: 2rem;"></i>
            <span class="fs-4">Heat Map</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
              <a href="#detailsContent" class="nav-link text-white" aria-current="page" data-bs-toggle="collapse">
                <i class="bi-info-circle-fill bi pe-none me-2"></i>
                Details
              </a>
              <div class="collapse show" id="detailsContent">
                <div class="p-3">
                  This map displays the pollution levels recorded by sensors deployed in water.
                  Hover the elements for more information.
                </div>
                  
              </div>
            </li>
            <li>
              <a href="#historyContent" class="nav-link text-white" data-bs-toggle="collapse">
                <i class="bi-clock-fill bi pe-none me-2"></i>
                Statistics
              </a>
              <div class="collapse" id="historyContent">
                <div class="p-3">
                  Historical data of pollution levels will be shown here.
                </div>
              </div>
            </li>
          </ul>
        <hr>
        <!-- Footer for sidebar -->
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none" 
                data-bs-toggle="dropdown" aria-expanded="true">
                <strong width="32" class="text-dark">.</strong>
            </a>
        </div>
    </div>

    <!-- Map -->
    <div class="col p-3">
        <div id="map" class="map"></div>
    </div>

    <!-- Tooltip -->
    <div id="tooltip" class="ol-tooltip"></div>
</div>

<script type="module" src="../js/heatmap.js"></script>